<div class="home-container">

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/doctor-login">Doctor Login</a></li>
      <li><a routerLink="/admin-login">Admin Login</a></li>
    </ul>
  </nav>

  <!-- Title below navbar -->
  <div class="page-title">
    <h1>🏥 Welcome to Our Patil Hospital</h1>
  </div>

  <!-- FULL Banner Image -->
  <div class="banner">
    <img src="assets/homepage.jpg" alt="Hospital" class="hospital-img">
  </div>

</div>
